<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="com.att.training.spring.boot.demo" level="debug"/>
    <logger name="org.testcontainers" level="info"/>
    <logger name="com.github.dockerjava" level="warn"/>
    <!-- use DEBUG to see SQL statements -->
    <logger name="org.hibernate.SQL" level="debug"/>
    <!-- use TRACE to see values of parameters -->
    <logger name="org.hibernate.type.descriptor.sql" level="trace"/>
    <!--    <logger name="org.hibernate.SQL_SLOW" level="info"/>-->
    <logger name="net.ttddyy.dsproxy.listener.logging.SLF4JQueryLoggingListener" level="debug"/>

    <root level="info">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>